.form__input_type_error {
    border-bottom-color: red;
}

.form__input-error_active{
    color: red;
    
}
.form__submit_inactive{

    color: #B8B8B8;
    background-color: rgba(246, 246, 246, 1);
    border-radius: 2px 0px 0px 0px;
    border: 1px solid  #B8B8B8;

    

}
